<div class="container">
  <div>
    <button class="nav-link"><%= link_to 'Sign in', new_user_session_path %></button>
    <button class="nav-link"><%= link_to 'Sign up', new_user_registration_path %></button>
  </div>
</div>
