<section class="my-dvr-boxes container">

  <h1 class="recordings-header">My Current Recordings</h1>
  <%= link_to "All shows", shows_url, :class => "all-shows-link"  %>

  <div class="first-box">
    <h3>DVR Box 1</h3>
    <ul class="shows-list">
      <% if @box_1_shows.present? %>
        <% @box_1_shows.each do |show| %>
          <%= render :partial => 'shows_list_items', :locals => { :show => show } %>
        <% end %>
      <% else %>
        <li class="no-shows">There aren't any shows being recorded on this box. You can start recording shows by clicking 'ALL SHOWS'</li>
      <% end %>
    </ul>
  </div>

  <div class="second-box">
    <h3>DVR Box 2</h3>
    <ul class="shows-list">
      <% if @box_2_shows.present? %>
        <% @box_2_shows.each do |show| %>
          <%= render :partial => 'shows_list_items', :locals => { :show => show } %>
        <% end %>
      <% else %>
        <li class="no-shows">There aren't any shows being recorded on this box. You can start recording shows by clicking 'ALL SHOWS'</li>
      <% end %>
    </ul>
  </div>
  
</section>
