@import "bootstrap";

$orange: #f5715b;

img {
  @extend .img-responsive;
  margin: 0 auto;
}

li {
  list-style:none;
}

a:hover {
  text-decoration: none;
}

main {
  margin-top: 51px;
}

.navbar-brand {
  font-size: inherit;
  }

.column {
  @extend .col-md-6;
  @extend .text-center;
  }
.form {
  @extend .col-md-6;
  }
.form-centered {
  @extend .col-md-6;
  @extend .text-center;
  }
.submit {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-lg;
  }
  
.authform {
  padding-top: 30px;
  max-width: 320px;
  margin: 0 auto;
}
.authform form {
  @extend .well;
  @extend .well-lg;
  padding-bottom: 40px;
}
.authform .right {
  float: right !important;
}
.authform .button {
  @extend .btn;
  @extend .btn-primary;
}
.authform fieldset {
  @extend .well;
}
#error_explanation {
  @extend .alert;
  @extend .alert-danger;
}
#error_explanation h2 {
  font-size: 16px;
}
.button-xs {
  @extend .btn;
  @extend .btn-primary;
  @extend .btn-xs;
}

.alert {
  margin-top: 51px;
}

.my-dvr-boxes {
  margin-top: 51px;

  .recordings-header {
    font-size: 42px;
    line-height: 48px;
    padding: 10px;
    font-weight: 200;
    color: #9e9183;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
  }

  .all-shows {
    padding: 12px 55px 10px 55px;
    background-color: #f5715b;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    -webkit-font-smoothing: antialiased;
    float: right;
    margin-top: 30px;
  }

  .first-box, .second-box {
    margin-top: 40px;

    h3 {
      font-weight: 200;
      -webkit-font-smoothing: antialiased;
      color: #888;
    }

    .shows-list {
      padding-left: 20px;

      .shows-list-item {
        font-size: 16px;
        padding: 10px;
        color: #333;
        font-size: 18px;
        line-height: 20px;
        font-weight: 300;
        border-bottom: 1px solid #E8E8E8;
        -webkit-font-smoothing: antialiased;
      }
    }
  }
}
