<section class="container">
	<%= @show.title %>

	<%= form_for @show, :url => show_record_path(:show_id => params[:id]), method: :post do |f| %>
		<%= f.select :box_id, Box.all.collect { |p| [ p.box_number, p.id ] } %>
		<%= f.submit "Record", :remote => true %>
	<% end %>

</section>